<div class="col-sm-4 mb-5">
            <div class="card" style="max-width: 20rem;">
<img class="img-fluid" id="img" src="{{./image_path}}" alt="Card image cap">
<div class="btn-floating btn-action ml-auto mr-auto mdb-color lighten-3" id="avatar"></div>
   {{!-- <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-chevron-right pl-1"></i></a> --}}
<div class="card-body">
<h4 class="card-title">{{title}}</h4>
<p class="card-text">{{details}}</p>
</div>
<div class="card-footer">
<div class="row">
    <div class="c">
      1  
    </div>
    <div class="c">
        2
    </div>
    <div class="c">
        3
    </div>
    <div class="c">
        4
    </div>
</div>
</div>
</div>
</div>
