<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a href="/" class="navbar-brand">Codeply</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar5">
        <ul class="navbar-nav ml-5">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="mx-2 my-auto ml-auto d-inline w-50">
            <div class="input-group">
                <input type="text" class="form-control border border-right-0" placeholder="Search...">
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border border-left-0" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>

    </div>
</nav>