<div class="jumbotron jumbotron-fluid">
<div class="container">
    <div class="content">
<h1 class="light">My Jumbotron</h1>
<p>Think BIG with a Bootstrap Jumbotron!</p>
</div>
</div>
</div>

<div class="container">
        <div class="row">
{{#each result}}
    {{> _cards}}
{{/each}}

    </div>
</div>
